@import "../../../common/colors.scss";

.home__beers {
  background-color: $medium;
  box-shadow: 0 0 180px rgba(yellow, 0.5);
  min-height: 100vh;

  &__fetching-state {
    color: $background;
    text-align: center;
    font-size: 30px;
    line-height: 3em;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 30px;
    padding: 30px;
  }
}
