.home {
  display: grid;
  grid-template-columns: auto;

  &--with-favourites {
    grid-template-columns: auto 400px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: auto;
    }
  }
}
